<div class='gallery-header'>
    <h2>Photography & Design</h2>
    <hr>
    <p>Here are some examples of my work in the recent past</p>
</div>
<br>
<section class='col-lg-10 col-lg-offset-1' id="photos">
    <a *ngFor = "let image of images; let i=index" (click)='open(i)'>
        <img src="{{image.media$group.media$thumbnail[2].url}}">
    </a>
</section>

<modal [closeOnOutsideClick]="true" [closeOnEscape]="true" modalClass="gallery-modal" #myModal>
    <modal-header>
<!--         <button class="btn btn-primary" (click)="previousImage()">previous</button>
        <button class="btn btn-primary" (click)="nextImage()">next</button> -->
    </modal-header>
    <modal-content>
        <div class='modal-body row'>
            <a (click)="previousImage()"><i class="col-lg-1 fa fa-angle-left"></i></a>
            <img class='col-lg-9 img-responsive' src='{{imageUrl}}'>
            <a (click)="nextImage()"><i class="col-lg-1 fa fa-angle-right"></i></a>
        </div>
    </modal-content>
</modal>
