<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text col-md-9 col-sm-11 col-xs-12">
                <div class="row">
                    <div class="col-sm-3  col-sm-offset-0 col-xs-8 col-xs-offset-2">
                        <div class="team-member">
                            <img src="../images/about/zee.jpg" class="img-responsive img-circle" alt="">
                            <h4>Zeeshan Safdar</h4>
                            <br>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://www.instagram.com/safdarzeeshan/" target="_blank"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li><a href="http://www.linkedin.com/in/zeeshan-safdar" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li><a href="https://github.com/safdarzeeshan" target="_blank"><i class="fa fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12 about-me">
                        <p>There is a fine balance between design and functionality which I enjoy finding. I have transitioned from a solution architect to a full stack developer to a co-founder of a startup and am now looking at new and exciting projects to work on. When I’m not at my desk I enjoy traveling, scuba diving, snow boarding and taking pictures of things I find insteresting.</p>
                    </div>
                </div>
            </div>
            <div class='section-links-div'>
                <span class='section-links'>
                    <a pageScroll href="#education">Education </a> /
                    <a pageScroll href="#experience"> Work Experience </a> /
                    <a pageScroll href="#skills"> Skills </a> /
                    <a pageScroll href="#portfolio"> Portfolio</a>
                </span>
                <br>
                <a pageScroll href="#education" class="scroll-down"><i class="fa fa-chevron-down"></i></a>
            </div>

        </div>
    </header>
    <!-- Services Section -->
    <section id="education" class="bg-light-gray">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education <i class="fa fa-graduation-cap"></i></h2>
                    <hr>
<!--                     <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <br>
            <div class="col-lg-10 row text-center custom-center">
                <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-12 education-section">
                    <div class="profile-circle">
                        <img src="/images/logos/uwlogo.jpg" class="img-responsive profile-circle" alt="">
                    </div>
                    <h3 class="service-heading">University Of Waterloo</h3>
                    <h4 class="service-heading">Bachelors - Electrical Engineering Co-op</h4>
                    <p class="col-lg-11 text-muted custom-center">Course work included circuit analysis, algotihims, data structures & signal processing.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-sm-offset-0 col-xs-12 education-section ">
                    <div class="profile-circle">
                        <img src="/images/logos/bitmaker-banner.png" class="img-responsive profile-circle" alt="">
                    </div>
                    <h3 class="service-heading">Bitmaker Labs</h3>
                    <h4 class="service-heading">User Experience Design</h4>
                    <p class="col-lg-11 text-muted custom-center">The course focused on the principles of User Exeprience and how to apply them.</p>
                </div>
                <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 education-section ">
                    <div class="profile-circle">
                        <img src="/images/logos/ocadlogo.jpg" class="img-responsive profile-circle" alt="">
                    </div>
                    <h3 class="service-heading">Ontario College of Art & Desgin</h3>
                    <h4 class="service-heading">Graphic Design Principles</h4>
                    <p class="col-lg-11 text-muted custom-center">This was a studio course that thouroughly examined design principles such as drawing, photography and typrograghy.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Experience Section -->
    <section id="experience">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Work Experience <i class="fa fa-laptop"></i></h2>
                    <hr>
                </div>
            </div>
            <br>
            <div *ngFor='let job of jobs | slice: 0:jobLimit' class="col-lg-6 col-md-8 col-sm-10 col-xs-11 job-div">
                <div class='row'>
                    <div class="job-name col-sm-8 col-xs-11">
                        <h3>{{job.company}}</h3>
                        <h4>{{job.position}}</h4>
                    </div>
                    <div class='job-location col-sm-4 col-xs-11'>
                        <p>{{job.location}}</p>
                        <p>{{job.timeline}}</p>
                    </div>
                </div>
                <br>
                <div class="job-descrition">
                    <p>{{job.description}}</p>
                </div>
            </div>
            <button class='button-show-all col-lg-3 col-sm-4 col-xs-8 custom-center' [hidden]="jobLimit >= jobs.length" (click)="jobLimit = jobLimit + 3 ">SHOW ALL</button>
        </div>
    </section>

    <!-- Skills Grid Section -->
    <section id="skills" class="bg-light-gray">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills <i class="fa fa-magic"></i></h2>
                    <hr>
                    <!-- <h3 class="section-subheading text-muted col-xs-10 col-xs-offset-1"></h3> -->
                </div>
            </div>
            <div class="row col-lg-11 custom-center">
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                    <div class="skill-item">
                        <div class='skill-header'>
                            <i class="fa fa-desktop skill-icon" aria-hidden="true"></i>
                            <h3>Front End </h3>
                        </div>
                        <div class='skill-detail'>
                            <p>My goal is to always deliver the fastest response times whilst not compromising a great user experience. I have built sites in <b>javascript, Angular 1.5, Angular 2 and ReactJs</b>. I have been the only person writing the <b>CSS</b> for two websites which has given me a lot of experience.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                    <div class="skill-item">
                        <div class='skill-header'>
                            <i class="fa fa-newspaper-o skill-icon" aria-hidden="true"></i>
                            <h3>Design & Prototyping</h3>
                        </div>
                        <div class='skill-detail'>
                            <p>I have started to give design & user experience more emphasis which has helped me develop features and design based on what people actually want. I use <b>photoshop & sketch</b> as my primary tools to design along with <b>InVision</b>.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                    <div class="skill-item">
                        <div class='skill-header'>
                            <i class="fa fa-terminal skill-icon" aria-hidden="true"></i>
                            <h3>Backend</h3>
                        </div>
                        <div class='skill-detail'>
                            <p>Majority of my work has been in <b>Python</b> with <b>Django & Django-Rest</b> with MySQL and <b>PostgreSQL</b> as the database. I am a fan of rest frameworks and open source libraries. I have worked on smaller projects with NodeJS, Express & MongoDB.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                    <div class="skill-item">
                        <div class='skill-header'>
                            <i class="fa fa-check skill-icon" aria-hidden="true"></i>
                            <h3>Testing</h3>
                        </div>
                        <div class='skill-detail'>
                            <p>Most of my earlier work was working as a consultant/architect with QA teams. I have setup frameworks using <b>SOAPUI, SOATest and Selenium</b> to test multiple messaging protocols such as HTTP, <b>MQ & JMS</b>. From a front end testing side all my projects have tests written in <b>Karma & Jasmine</b>.</p>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
                    <div class="skill-item">
                        <div class='skill-header'>
                            <i class="fa fa-gear skill-icon" aria-hidden="true"></i>
                            <h3>Automation & Deployment</h3>
                        </div>
                        <div class='skill-detail'>
                            <p>I am an advocate of using scaffolding tools such as yeoman as long as one knows what its doing :) I use <b>grunt, gulp & compass</b> for local development and building. I have deployed AngularJS, Django, Ruby and Elastic Search to <b>AWS</b> and setup one click deployment processes for each of them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio <i class="fa fa-paint-brush"></i></h2>
                    <hr>
                    <h3 class="section-subheading text-muted">Some examples of my work.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../images/portfolio/lovetoeatit.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Love To Eat It</h4>
                        <h5 class="text-muted">Recipe Discovery through Instagram</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../images/portfolio/stereogram.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Stereogram</h4>
                        <h5 class="text-muted">Music Discovery</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me  <i class="fa fa-envelope-o"></i></h2>
                    <hr>
                    <p>Send me an email at <a href="mailto:safdarzeeshan@gmail.com" target="_top">safdarzeeshan@gmail.com</a></p>
                    <p>I am always interested in working on new & exciting projects</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <div class='portfolio-heading'>
                                <h2>Love To Eat It</h2>
                                <h4 class="item-intro text-muted">your foodie adventure begins with the like button</h4>
                            </div>
                            <div class='portfolio-body'>
                                <p>Check it out at <a href='http://www.lovetoeat.it' target='_blank'>http://www.lovetoeat.it</a></p>
                                <p> Our mission is to get the world eating better by encouraging people to cook more, become a hub for recipe discovery and be at the heart of the online foodie community.</p>
                                <div class='portfolio-iframe'>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/79D-0dY255w" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <br>
                                <p>It instantly delivers recipes to a user’s inbox when they ‘like’ a food post on Instagram and adds those recipes to a user’s online personal cookbook. LTEI enables food bloggers to drive more traffic to their blogs and removes the tedious process of redirecting users through bio pages and static links in posts</p>
                                <p>Technologies used are Django Rest framework, AngularJS 1.5, Ruby, Sinatra, AWS, SASS, Grunt, PostgreSQL, Sketch, S3 bucket & Instagram API<p>
                                <p>Invision link <a href= "https://invis.io/SC81TP6JT" target='_blank'>https://invis.io/SC81TP6JT</a></p>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <div class='portfolio-heading'>
                                <h2>Stereogram</h2>
                                <h4 class="item-intro text-muted">Learn, Discover & Share your favorite music with your favorite friends.</h4>
                            </div>
                            <div class='portfolio-body'>
                                <p>Check it out at <a href='http://www.stereogram.xyz' target='_blank'>http://www.stereogram.xyz</a></p>
                                <p>Stereogram is a web app to allow friends to recommend music to each other and find out what their friends are listening to. If you're a person who likes to ask their friends for music recommendations, Stereogram gives you a platform to easily do so and never lose that song.</p>
                                <p>It leverages YouTube's and Souncloud's API for search and playback. Technologies used were Django framework, javascript, jquery and sass.</p>
                                <p>Invision Project<a target='_blank' href= "https://invis.io/CU9YOXJR6"> Stereogram</a> You can click around below</p>
                                <div class='portfolio-iframe'>
                                    <iframe width="424" height="916" src="//invis.io/CU9YOXJR6" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <p>GitHub Repository <i class="fa fa-github"> </i><a target='_blank' href= "https://github.com/safdarzeeshan/listeninto_app"> https://github.com/safdarzeeshan/listeninto_app</a></p>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
