a{
  font-family: Lato;
  font-weight: 100;
}

header {
  .section-links-div{
    margin-bottom: 5em;
    .section-links{
      font-size: 1.5em;
      a{
        color: rgba(255, 255, 255, 0.7);
        font-weight: 200;
        transition: color 0.3s;
      }

      a:hover{
        color: rgba(255, 255, 255,1);
      }

    }
  }
}

.scroll-down{
  font-size: 3em;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}

.scroll-down:hover{
  color: rgba(255, 255, 255,1);
}

.button-show-all{
  background-color: #dc4518;
  border: none;
  opacity: 0.9;
  clear: both;
  color: white;
  padding: 10px;
}

.button-show-all :hover{
      opacity: 1;
}

.profile-circle {
    width: 175px;
    height: 175px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2em;
}

.job-div{
  background-color: #f3f3f3;
  margin: 0 auto;
  float: none;
  padding: 15px;
  margin-bottom: 2em;
  border-radius: 3px;
}

.job-name p{
  margin:0;
  font-size: 0.75em;
  font-style: italic
}

.job-description{
  width: 60%;
  padding-left: 2em;

  h4{
    margin-bottom: 0.5em;
    }
}

.job-description p{
  margin: 0;
}

.job-location{
  text-align: right;
  margin-top: 16px;

  p{
    font-size: 12px;
  }
}

.about-me{
    text-align: left;

    p {
        font-size: 18px;
        line-height: 1.5;
        font-family: lato;
        color: rgb(255, 255, 255);
    }
}

.portfolio-heading{
  background-color: rgb(241, 241, 241);
  padding: 1em;
  margin-bottom: 3em;
}

.portfolio-body{
  text-align: left;
}

.portfolio-iframe{
  text-align: center;
}

#contact{
  color: white;
  p{
    font-size:18px;
  }
}